*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: white;
        color: black;
        font-size: 15px;
        line-height: 1.5;
        
        

    }

.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 100%;
margin: auto;
}
a {
    color:  #383633;
    text-decoration: none;
padding-top: 7px;


}
nav{
    display: flex;
    align-items: center;
    background-color: #f7eee3;
    font-size: .75rem;
   height:35px
   
   
}
 .main-nav ul{
    list-style: none;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-left: 700px;
  
}
.main-nav ul li {
  
margin-right: 10px;


}
.main-nav p{
    padding-left: 30px;
    padding-top: 5px;
}


.img1{
    width: 150px;
}
.nav2{
    background-color: white;
padding: 20px;

padding-top: 30px;


}
.nav2 li{
    list-style: none;
display: inline;
font-size: 18px;
padding: 15px;
margin-left: 15px;
font-weight: 600;
    
}
.nav2 li:hover{
    opacity: .7;
}

.show-case{
    width: 100%;
    height: 500px;
    background: url(sofa-buying-guide-2048px-burrow.jpg)
no-repeat center center/cover;
margin: 0;
padding-top: 170px;
padding-left: 115px;
margin-top: 30px;

text-align: center;


}
.show-case button{
    background-color: rgb(252, 238, 113);
    border: transparent;
    padding: 20px;
    text-align: center;

}
.show-case{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    color: #262626;
   }
.home-card h1{
text-align: center;
color: #383633;
font-size: 30px;
font-weight: 500;
}
.home-card2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    margin-left: 20px;
}

.heading h1{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    letter-spacing: -.3px;
    font-weight: 600;
    color: #383633;
    height: 100px;
}
.video-bottom {
display: flex;
background-color: #f7eee3;
font-size: 11px;
padding-left: 65px;
color: #383633;
padding-bottom: 50px;


}
.video-bottom div {
    padding-left: 50px; 
    padding-top:20px;

    
    
    
}
.video-bottom img{
    width: 60px;
}


.links{
    margin: 0;
   
    font-size: 13px;
    padding-top: 35px;
    margin-top: 90px;
margin-bottom: 50px;
background-color: #262626;

    
    
}
.inner{
    max-width: 1120px;
    padding-left: 100px;
    
    
    display: grid;
    grid-template-columns: repeat(4,6fr);
    color:#f7eee3;
  
   
    
    
}
.links li a{
    text-decoration: none;
    line-height: 3.0;
    color: #f7eee3;
}
.links li:hover{
    border-bottom:.2px  solid lightslategray;
}
.links li{
    list-style: none;
    
   
}

